.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  //padding-left: $gutter;
  //padding-right: $gutter;
  padding: 0.2rem ($gutter / 2) 0 ($gutter / 2);
  height: 3.6rem;
  
  line-height: 1;
  font-size: font(size, base);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  
  outline: none !important;
  cursor: pointer;
  border: none;
  border-radius: $border-radius;
  
  color: color(text, title);
  background-color: color(card);
  
  @include transition();
  @include box-shadow;
  
  &:hover {
    //background-color: #f1eff1;
  }
  
  &:active {
    @include box-shadow-focus;
  }
  
  &--primary {
    color: color(secondary, text);
    background-color: color(secondary, base);
    
    &:hover {
      background-color: color(secondary, light);
    }
    /*
    &:active {
      background-color: $color-bg-primary-active;
    }*/
  }
  
  &--flat {
    background-color: transparent;
    box-shadow: none !important;
    border: none !important;
    
    &:hover {
      background-color: rgba(157,174,196,.2);
    }
  }
  
  &--rounded {
    width: 4rem;
    height: 4rem;
    padding: 0;
    border-radius: 100%;
  }
  
  .btn__text {
    position: relative;
    z-index: 2;
  }
}

.btn-group {
  display: flex;
  
  .btn {
    display: flex;
    margin-right: $gutter / 2;
  }
}
