.comment-list {
  margin-bottom: $gutter*1.5;
  background-color: color(card);
  border-radius: $border-radius;
  
  @include box-shadow;
  
  &__title {
    margin: 0;
    font-weight: normal;
    font-size: font(size, headline);
    line-height: font(line-height, headline);
    //text-transform: none;
    color: color(text, title);
    border-bottom: 1px solid color(border);
    padding: $gutter*0.75 $gutter;
  }
  
  &__form {
    padding: $gutter*0.75 $gutter;
    background-color: #f6f6f6;
  }
}