.form {
  &__item {
    margin: 0;// 0 ($gutter / 4) 0;
    //margin-bottom: $gutter;
  }
  
  &__buttons {
    //margin-top: $gutter * 1.5;
  }
}

.input {
  $input: &;
  
  position: relative;
  display: block;
  margin: 0;
  padding:  ($gutter) 0 ($gutter) 0;
  max-width: 100%;
  
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2.1rem;//($gutter * 2); // error(16) + padding-bottom(12) + margin-field(4)
    height: 0.1rem;
    background: #dbdbdb;
  }
  
  &.has-error:after {
    background: red;
  }
  /*
  &--recaptcha {
    padding-top: $gutter;
    
    &:after {
      display: none;
    }
  }
  /*
  &--search {
    padding-top: ($gutter / 4);
    padding-bottom: ($gutter / 4);
    
    &:after {
      bottom: ($gutter / 2);
      background: color(secondary, text);
    }
  }*/
  
  &__placeholder {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    top: 2.1rem;//$gutter * 2 + 0.1rem;
    left: 0;
    right: 0;
    
    height: $gutter;
    line-height: $gutter;
    
    white-space: nowrap;
    overflow: hidden;
    cursor: text;
    
    @include transition();
    
    #{$input}.has-error & {
    
    }
    /*
    #{$input}--search & {
      top: $gutter;
      color: color(secondary, text);
    }*/
  }
  
  &__error {
    display: block;
    position: absolute;
    bottom: 0;//$gutter * 0.75;
    
    height: $gutter;
    line-height: $gutter;
    
    font-size: font(size, caption);
    white-space: nowrap;
    overflow: hidden;
    color: red;
    
    visibility: hidden;
    opacity: 0;
    
    @include transition();
    
    #{$input}.has-error:not(.has-success) & {
      visibility: visible;
      opacity: 1;
    }
  }
  
  &__field {
    position: relative;
    z-index: 1;
    
    display: block;
    margin: 0 0 ($gutter / 4) 0;
    padding: ($gutter / 4) 0 ($gutter / 2) 0;
    width: 100%;
    max-width: 100%;
    height: $gutter + ($gutter / 4 * 3);
    line-height: $gutter;
    
    box-shadow: none;
    border: none;
    outline: none;
    
    color: color(text, base);
    background: linear-gradient(to top, color(secondary, base) 0.2rem, transparent 0.2rem) no-repeat -2000px 0 transparent;
    background-size: 100%;
    
    @include transition(background, 0.2s, cubic-bezier(.64,.09,.08,1));
    /*
    #{$input}--search & {
      padding-bottom: ($gutter / 4);
      width: 36rem;
      color: inherit;
      background-image: linear-gradient(to top, color(secondary, text) 0.2rem, transparent 0.2rem);
    }*/
    
    &:focus,
    #{$input}:not(.input--js) &:valid,
    #{$input}.has-fill & {
      
      & ~ .input__placeholder {
        top: 0;//$gutter * 0.75;
        font-size: font(size, caption);
      }
    }
    
    &:focus {
      background-position: 0 0;
      
      & ~ .input__placeholder {
        color: color(secondary, base);
      }
    }
  }
  
  textarea {
    min-height: 2.8rem;
  }
}