.tags {
  /*&__title {
    padding-bottom: $gutter / 4;
    margin-bottom: $gutter / 4;
    border-bottom: 1px solid color(border);
    font-size: font(size, title);
  }
  */
  &__list {
    //margin-top: 0.6rem;
  }
  
  &__item {
    display: inline-block;
    //padding: 0 0.2rem;
    margin-right: $gutter / 2;
    color: color(text, title) !important;
  }
  
  &__count {
    font-size: font(size, caption);
  }
}